@charset "UTF-8";

body {
    background-image: url(/img/background.jpg);
    background-position: 54% -2%;
}

body p {
    color: rgba(0, 0, 0, 0.644);
}

header {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 100px;
}

.logo {
    width: 150px;
    padding: 1%;
    margin: 0 50px;
    display: inline-block;
}

.menu-widht {
    display:inline-block;
    transform: translateY(-5px);
}

.nav-principal {
    width: 500px;
    margin: 0 50px;
    text-align: justify;
}

.nav-principal a {
    padding: 0 0 0 20px;
    text-decoration: none;
}

.nav-principal a:hover, header p:hover {
    color:#f53838;
}

.contact {
    width: 150px;
    margin: 0 20px;
    color: #021558;
    text-align: right;
}

.contact:hover {
    color:#f53838;
}

.contact-buttom {
    width: 100px;
    text-align: center;
    font-weight: 600;
    color: #f53838;
    border-radius: 30px;
    border: 1px solid #f53838;
    padding: 10px 12px;
    margin: 0 0 0 20px;
}

.contact-buttom:hover {
    background-color: #f53838;
    color: #fff;
}

.contact-buttom a {
    text-decoration: none;
}