@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@300&family=Rubik&display=swap");

/* RESET */
* {
  border: 0;
  margin: 0;
  padding: 0;
}

:root {
  --color-first: #f53838;
  --color-second: #021558;
  --color-text: rgba(0, 0, 0, 0.745);
  --border-radius-btn: 30px;
  --shadow-btn: 0px 2px 10px rgb(0 0 0 / 20%);
  --font-size-subtitle: 3.5rem;
  --font-family-title: "Rubik", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(../img/background1.jpg);
  background-position: 51% 0%;
  background-repeat: no-repeat;
  font-size: 1.6rem;
  font-family: "Open sans", sans-serif;
}

/* HEADER */
header > .conteiner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  margin: auto;
  padding: 5rem 2rem;
}

header > .conteiner .menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  min-width: 50rem;
}

header > .conteiner .menu a {
  display: block;
  padding: 1rem;
  text-decoration: none;
}

header > .conteiner .menu a:hover {
  color: var(--color-first);
}

header > .conteiner .contact {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

header > .conteiner .contact button {
  border-radius: 20px;
  border: 1px solid var(--color-first);
  background-color: white;
}

header > .conteiner .contact button:hover {
  background-color: var(--color-first);
}

header > .conteiner .contact p:hover {
  color: var(--color-first);
}

header > .conteiner .contact button > a {
  color: var(--color-first);
  display: block;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  text-decoration: none;
}

header > .conteiner .contact button > a:hover {
  color: white;
}

div#conteiner {
  max-width: 1200px;
  margin: auto;
}

section:nth-child(1) .conteiner {
  margin: auto;
  padding: 10rem 2rem;
}

section:nth-child(1) .conteiner #main__title {
  color: var(--color-second);
  font-size: 4.5rem;
  font-family: var(--font-family-title);
}

.destaque {
  color: var(--color-first);
}

section p {
  color: var(--color-text);
  line-height: 2.5rem;
}

section:nth-child(1) .conteiner p {
  margin: 2rem 0;
  max-width: 50%;
}

.section1__btn {
  background-color: var(--color-first);
  border-radius: var(--border-radius-btn);
  box-shadow: var(--shadow-btn);
}

.section1__btn:hover {
  box-shadow: none;
}

section:nth-child(1) .conteiner .section1__btn > a {
  color: white;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.5rem 5rem;
}

section:nth-child(2) .conteiner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem auto;
}

section:nth-child(2) .conteiner > h2 {
  color: var(--color-second);
  font-family: var(--font-family-title);
  font-size: var(--font-size-subtitle);
  text-align: center;
}

section:nth-child(2) .conteiner article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

section:nth-child(2) .conteiner article p {
  margin: 2rem 0;
  text-align: center;
}

section:nth-child(2) .conteiner .section2__item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section2__icones {
  padding: 0 5rem;
}

.section2__icones:nth-child(1n):nth-child(-n + 3) {
  border-right: 1px solid #f5383831;
}

.section2__icones img {
  width: 15rem;
}

section:nth-child(3) .conteiner {
  margin: auto;
  padding: 0 2rem;
}

section:nth-child(3) .conteiner > h2 {
  font-size: var(--font-size-subtitle);
  font-family: var(--font-family-title);
  color: var(--color-second);
  margin: 20rem 0 5rem 0;
}

section:nth-child(3) .conteiner article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section:nth-child(3) .conteiner .section3__item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 0 1 25rem;
}

section:nth-child(3) .conteiner .section3__item img {
  width: 10rem;
}

section:nth-child(3) .conteiner article div h3 {
  font-family: var(--font-family-title);
  color: var(--color-second);
}

section:nth-child(4) .conteiner {
  margin: 10rem auto;
  display: grid;
  grid-template-columns: repeat(10, minmax(50px, 1fr));
  grid-template-rows: repeat(5, minmax(50px 1fr));
  grid-gap: 20px 20px;
  justify-content: center;
  align-content: center;
  background-image: url("../img/background2.jpg");
  background-position: center -125px;
  background-repeat: no-repeat;
  padding: 0 2rem;
}

.section4__item:nth-child(n + 2) {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid rgba(0 0 0 / 30%);
  border-radius: 10px;
  background-color: white;
}

.section4__item:nth-child(1) {
  font-family: var(--font-family-title);
  font-size: 2.5rem;
  text-align: left;
  color: var(--color-second);
  grid-column: 2/6;
  grid-row: 1/1;
}

.section4__item:nth-child(2) {
  grid-column: 6/11;
  grid-row: 1/3;
}

.section4__item:nth-child(3) {
  grid-column: 3/6;
  grid-row: 2/6;
}

.section4__item:nth-child(4) {
  grid-column: 6/10;
  grid-row: 3/6;
}

section:nth-child(5) .conteiner {
  padding: 10rem 0;
  margin: auto;
}

section:nth-child(5) .conteiner h2 {
  font-family: var(--font-family-title);
  font-size: 3rem;
  color: var(--color-second);
  text-align: center;
}

section:nth-child(5) .conteiner > :nth-child(2) {
  max-width: 80%;
  width: 100%;
  margin: 3rem auto;
  text-align: center;
}

.box__grid {
  display: grid;
  gap: 3rem 1rem;
  padding: 0 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.box__grid div {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box__grid div {
  font-family: var(--font-family-title);
  color: var(--color-second);
}

.box__grid div img {
  width: 10rem;
}

.box__grid div p {
  text-align: center;
}

section:nth-child(6) .conteiner {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding: 0 2rem 10rem 2rem;
}

section:nth-child(6) .conteiner div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2rem;
}

section:nth-child(6) .conteiner div:nth-child(2) h2 {
  font-family: var(--font-family-title);
  font-size: 3rem;
  color: var(--color-second);
}

section:nth-child(6) .conteiner div:nth-child(2) ul {
  list-style: none;
}

section:nth-child(6) .conteiner div:nth-child(2) li i {
  color: #2fab73;
  padding: 0.5rem;
}

.img__section6 > img {
  width: 100%;
}

section:nth-child(7) .conteiner {
  padding: 10rem 2rem;
}

section:nth-child(7) .conteiner > h2 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-subtitle);
  color: var(--color-second);
  text-align: center;
}

section:nth-child(7) .conteiner > p {
  text-align: center;
  margin: 3rem auto;
  max-width: 50%;
}

.box__section7 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.box__section7 > div > img {
  display: block;
  margin: 3rem auto;
}

.money {
  padding: 0 0 2rem 0;
  font-size: 1.5em;
  font-family: var(--font-family-title);
}

.box__section7 > div:nth-child(1) .money__destaque,
.box__section7 > div:nth-child(3) .money__destaque {
  font-size: 1.5em;
  font-weight: bolder;
  color: var(--color-second);
}

.box__section7 > div:nth-child(2) .money__destaque {
  font-size: 1.5em;
  font-weight: bolder;
  color: var(--color-first);
}

.box__section7 > div > p {
  text-align: center;
}

.box__section7 div:nth-child(1),
.box__section7 div:nth-child(3) {
  border-radius: 1rem;
  border: 2px solid rgba(0 0 0 / 10%);
  padding: 3rem;
  transition-property: border;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.box__section7 div:nth-child(1):hover,
.box__section7 div:nth-child(3):hover {
  border: 2px solid #d7e3f4;
  transition-duration: 1s;
}

.box__section7 div:nth-child(1) h3,
.box__section7 div:nth-child(3) h3 {
  text-align: center;
  margin: -3.2rem -3.2rem 0 -3.2rem;
  padding: 3.4rem;
  background-color: #d7e3f4;
  border: solid #d7e3f4;
  border-radius: 1rem 1rem 0 0;
  font-family: var(--font-family-title);
  font-size: 1.5em;
  color: var(--color-second);
}

.box__section7 div:nth-child(1) button a,
.box__section7 div:nth-child(3) button a {
  padding: 1rem 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  color: var(--color-first);
  text-decoration: none;
}

.box__section7 div:nth-child(1) button,
.box__section7 div:nth-child(3) button {
  background-color: white;
  border: 1px solid var(--color-first);
  border-radius: 2rem;
  display: block;
  margin: 2rem auto 0 auto;
}

.box__section7 div:nth-child(1) button a:hover,
.box__section7 div:nth-child(3) button a:hover {
  color: white;
}

.box__section7 div:nth-child(1) button:hover,
.box__section7 div:nth-child(3) button:hover {
  background-color: var(--color-first);
}

.box__section7 div:nth-child(2) button a {
  padding: 1rem 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  color: white;
  text-decoration: none;
}

.box__section7 div:nth-child(2) button {
  background-color: var(--color-first);
  border: 1px solid var(--color-first);
  border-radius: 2rem;
  display: block;
  margin: 2rem auto 0 auto;
}

.box__section7 div:nth-child(2) button a:hover {
  color: var(--color-first);
}

.box__section7 div:nth-child(2) button:hover {
  background-color: white;
}

.box__section7 div:nth-child(2) {
  border-radius: 1rem;
  border: 2px solid rgba(0 0 0 / 10%);
  padding: 3rem;
  transition-property: border;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.box__section7 div:nth-child(2):hover {
  border: 2px solid var(--color-first);
}

.box__section7 div:nth-child(2) h3 {
  text-align: center;
  color: white;
  margin: -3.2rem -3.2rem 0 -3.2rem;
  padding: 2rem;
  background-color: var(--color-first);
  border: solid var(--color-first);
  border-radius: 1rem 1rem 0 0;
  font-family: var(--font-family-title);
  font-size: 1.5em;
}

section:nth-child(8) .conteiner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 5rem 2rem;
}

section:nth-child(8) .conteiner div:nth-child(1) img {
  width: 100%;
}

section:nth-child(8) .conteiner div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: flex-start;
  padding: 0 1rem;
}

section:nth-child(8) .conteiner div:nth-child(2) h2 {
  font-size: var(--font-size-subtitle);
  font-family: var(--font-family-title);
  color: var(--color-second);
}

section:nth-child(8) form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: 100%;
}

section:nth-child(8) form input:last-child {
  background-color: var(--color-first);
  padding: 1.5rem;
  width: 20rem;
  font-size: 1em;
  font-weight: bold;
  color: white;
  border-radius: 3rem;
  box-shadow: var(--shadow-btn);
  margin: 1rem 0 0 0;
}

section:nth-child(8) form input:last-child:hover {
  box-shadow: none;
}

section:nth-child(9) .conteiner {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  padding: 0 2rem;
  margin: 10rem 0;
}

section:nth-child(9) .conteiner > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
section:nth-child(9) .conteiner div:nth-child(1) h2 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-subtitle);
  color: var(--color-second);
}

section:nth-child(9) iframe {
  width: 100%;
  height: 30rem;
}

div#contact > div i {
  color: var(--color-first);
  padding: 0.5rem;
}

div#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div#contact > div:nth-child(n + 2):nth-child(-n + 3) {
  display: flex;
  align-items: flex-start;
}

div#contact > div:nth-child(4) {
  display: flex;
  align-items: flex-start;
}

form input:nth-child(1n):nth-child(-n + 4) {
  border: 1px solid rgba(0 0 0 / 10%);
  border-radius: 3rem;
  padding: 1.5rem 2rem;
  width: 90%;
}

footer .conteiner {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: var(--color-second);
}

footer .conteiner > :nth-child(2) {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

footer .conteiner > :nth-child(2) div {
  border: 1px solid black;
  border-radius: 3rem;
  flex: 0 1 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .conteiner > :nth-child(2) div:hover {
  background-color: white;
}

footer .conteiner > :nth-child(2) div img {
  width: 100%;
}

footer .conteiner > :nth-child(3) {
  color: white;
}
/* =================== 
MEDIA QUERIES
======================*/
@media screen and (max-width: 1090px) {
  html {
    font-size: 50%;
  }
  section:nth-child(4) .conteiner {
    background-position: center;
  }
}
/* ==============
MENU MOBILE
================= */
@media screen and (max-width: 905px) {
  header .conteiner nav,
  header .conteiner .contact {
    display: none;
  }

  .box__grid {
    grid-template-columns: 1fr 1fr;
  }

  .menu__toggle {
    width: 40px;
    height: 30px;
  }

  .menu__toggle > :nth-child(1) {
    background-color: var(--color-first);
    padding: 2px;
    margin: 5px;
    transition-duration: 0.5s;
  }

  .menu__toggle > :nth-child(2) {
    background-color: var(--color-first);
    padding: 2px;
    margin: 5px;
    transition-duration: 0.5s;
  }

  .menu__toggle > :nth-child(3) {
    background-color: var(--color-first);
    padding: 2px;
    margin: 5px;
    transition-duration: 0.5s;
  }

  .menu__mobile.on > .menu__toggle > :nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu__mobile.on > .menu__toggle > :nth-child(2) {
    opacity: 0;
  }

  .menu__mobile.on > .menu__toggle > :nth-child(3) {
    transform: rotate(-45deg) translate(5px, -7px);
  }

  .menu__mobile.on > .menu__toggle {
    position: absolute;
    right: 0;
    margin: 40px 30px 0 0;
  }

  .menu__mobile.on {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-second);
    width: 100vw;
    height: 100vh;
  }

  .menu__mobile.on nav {
    display: block;
    margin-top: 20vh;
  }

  .menu__mobile.on .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header > .conteiner .menu a {
    color: white;
    font-size: 3rem;
  }

  section:nth-child(4) .conteiner {
    background-position: -60px;
    background-size: cover;
  }
}

@media screen and (max-width: 803px) {
  .section2__icones:nth-child(1n):nth-child(-n + 3) {
    border-right: none;
  }

  section:nth-child(4) .conteiner {
    background-position: -68px -39px;
  }

  section:nth-child(8) .conteiner {
    grid-template-columns: auto;
    grid-gap: 2rem;
  }
}

@media screen and (max-width: 720px) {
  section:nth-child(6) .conteiner {
    grid-template-columns: auto;
    grid-gap: 2rem;
  }

  section:nth-child(4) .conteiner {
    background-position: -172px 32px;
  }
}

@media screen and (max-width: 680px) {
  section:nth-child(4) .conteiner {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .section4__item:nth-child(1n) {
    grid-column: auto;
    grid-row: auto;
  }

  .box__section7 {
    grid-template-columns: auto;
  }

  section:nth-child(4) .conteiner {
    background-color: white;
    background-image: none;
  }
}

@media screen and (max-width: 470px) {
  section:nth-child(3) .conteiner article {
    flex-direction: column;
    gap: 3rem;
  }

  section:nth-child(3) .conteiner .section3__item {
    align-items: center;
    justify-items: center;
    text-align: center;
  }

  .box__grid {
    grid-template-columns: 1fr;
  }

  section:nth-child(9) .conteiner {
    grid-template-columns: auto;
    background-image: url(/img/img1-section9.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 415px) {
  section:nth-child(2) .conteiner .section2__item {
    gap: 2rem;
  }
}
