@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@300&family=Rubik&display=swap");

/* RESET */
* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font: 15px Arial;
}

/* HEADER */
body {
  background-image: url(../img/background1.jpg);
  background-position: 54% -2%;
  background-repeat: no-repeat;
  font-family: "Open sans", sans-serif;
}

header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  max-width: 95%;
  margin: 0 auto;
  padding: 50px 0;
}

main {
  max-width: 95%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Rubik", sans-serif;
}

body p {
  color: rgba(0, 0, 0, 0.644);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  min-width: 500px;
}

.menu a {
  color: rgba(0, 0, 0, 0.644);
  text-decoration: none;
}

.menu a:hover {
  color: #f53838;
}

.contact {
  align-items: center;
  display: flex;
  gap: 50px;
}

.contact > p:hover {
  color: #f53838;
  cursor: pointer;
}

.contact__btn {
  background-color: white;
  border-radius: 30px;
  border: 1px solid #f53838;
  text-align: center;
  width: 100px;
}

.contact__btn:hover {
  background-color: #f53838;
}

.contact__btn > a {
  color: #f53838;
  display: block;
  font-weight: 600;
  padding: 10px;
  text-decoration: none;
}

.contact__btn > a:hover {
  color: #fff;
}

@media screen and (max-width: 990px) {
  header {
    flex-flow: column nowrap;
    justify-content: center;
  }

  .menu {
    min-width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .menu {
    align-items: center;
    gap: 10px;
    flex-flow: column nowrap;
    min-width: 300px;
  }
}

/* SECTION 1 */
.section1 {
  display: flex;
  flex-flow: column wrap;
  gap: 25px;
  justify-content: flex-start;
  max-width: 40%;
  margin: 50px 0;
}

#main__title {
  color: #021558;
  font-size: 3.5em;
}

.destaque {
  color: #f53838;
}

.section1__btn {
  background-color: #f53838;
  box-shadow: 0 10px 30px rgb(245 56 56 / 35%);
  border-radius: 30px;
  text-align: center;
  width: 200px;
}

.section1__btn > a {
  color: white;
  display: block;
  padding: 15px;
  text-decoration: none;
}

.section1__btn:hover {
  box-shadow: none;
}

@media screen and (max-width: 990px) {
  .section1 {
    align-items: center;
    margin: 400px auto 100px auto;
    max-width: 100%;
    max-width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .section1 {
    margin: 300px 0 100px 0;
  }
}

/* SECTION 2 */
.section2 {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  max-width: 95%;
  margin: 100px auto;
}

.section2 > :nth-child(1n):nth-child(-n + 2) {
  text-align: center;
}

.section2 > :nth-child(1) {
  font-size: 2.5em;
}

.section2__item {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
