@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@300&family=Rubik&display=swap");

/* RESET */
* {
  border: 0;
  margin: 0;
  padding: 0;
}

:root {
  --color-first: #f53838;
  --color-second: #021558;
  --color-text: rgba(0, 0, 0, 0.745);
  --color-btn: white;
  --border-radius-btn: 30px;
  --shadow-btn: 0 10px 20px #f538384b;
  --font-size-subtitle: 3.5rem;
  --font-family-title: "Rubik", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(../img/background1.jpg);
  background-position: 51% 0%;
  background-repeat: no-repeat;
  font-size: 1.6rem;
  font-family: "Open sans", sans-serif;
}

/* HEADER */
header > .conteiner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 85%;
  margin: auto;
  padding: 5rem 0 0 0;
  width: 100vw;
}

header > .conteiner .menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  min-width: 50rem;
}

header > .conteiner .menu a {
  display: block;
  padding: 1rem;
  text-decoration: none;
}

header > .conteiner .menu a:hover {
  color: var(--color-first);
}

header > .conteiner .contact {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

header > .conteiner .contact button {
  border-radius: 20px;
  border: 1px solid var(--color-first);
  background-color: white;
}

header > .conteiner .contact button:hover {
  background-color: var(--color-first);
}

header > .conteiner .contact p:hover {
  color: var(--color-first);
}

header > .conteiner .contact button > a {
  color: var(--color-first);
  display: block;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  text-decoration: none;
}

header > .conteiner .contact button > a:hover {
  color: white;
}

section .conteiner1 {
  margin: auto;
  max-width: 85%;
  padding: 10rem 0;
  width: 100vw;
}

section .conteiner1 #main__title {
  color: var(--color-second);
  font-size: 4.5rem;
  font-family: var(--font-family-title);
}

.destaque {
  color: var(--color-first);
}

section p {
  color: var(--color-text);
  line-height: 2.5rem;
}

section .conteiner1 > article > p {
  margin: 2rem 0;
  max-width: 50%;
}

section .conteiner1 > article > .section1__btn {
  background-color: var(--color-first);
  border-radius: var(--border-radius-btn);
  box-shadow: var(--shadow-btn);
}

section .conteiner1 > article > .section1__btn:hover {
  box-shadow: none;
}

section .conteiner1 .section1__btn > a {
  color: var(--color-btn);
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.5rem 5rem;
}

section .conteiner2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem auto;
  max-width: 85%;
  text-align: center;
  width: 100vw;
}

section .conteiner2 > h2 {
  color: var(--color-second);
  font-family: var(--font-family-title);
  font-size: var(--font-size-subtitle);
}

section .conteiner2 article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

section .conteiner2 article p {
  margin: 2rem 0;
}

section .conteiner2 .section2__item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section .conteiner2 .section2__item div {
  padding: 0 5rem;
}

section .conteiner2 .section2__item > :nth-child(1n):nth-child(-n + 3) {
  border-right: 1px solid #f5383831;
}

section .conteiner2 .section2__item img {
  width: 100%;
}

section .conteiner3 {
  max-width: 85%;
  width: 100vw;
  margin: auto;
}

section .conteiner3 > h2 {
  font-size: var(--font-size-subtitle);
  font-family: var(--font-family-title);
  color: var(--color-second);
  margin: 20rem 0 5rem 0;
}

section .conteiner3 article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section .conteiner3 .section3__item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 0 1 25rem;
}

section .conteiner3 .section3__item img {
  width: 10rem;
}

section .conteiner3 article div h3 {
  font-family: var(--font-family-title);
  color: var(--color-second);
}

section .conteiner4 {
  max-width: 85%;
  width: 100vw;
  margin: 10rem auto;
  display: grid;
  grid-template-columns: repeat(10, minmax(50px, 1fr));
  grid-template-rows: repeat(5, minmax(50px 1fr));
  grid-gap: 20px 20px;
  justify-content: center;
  align-content: center;
  background-image: url("../img/background2.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

section .conteiner4 > :nth-child(n + 2) {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

section .conteiner4 > :nth-child(1) {
  font-family: var(--font-family-title);
  font-size: 2.5rem;
  text-align: left;
  color: var(--color-second);
  grid-column: 2/6;
  grid-row: 1/1;
}

section .conteiner4 > :nth-child(2) {
  grid-column: 6/11;
  grid-row: 1/3;
}

section .conteiner4 > :nth-child(3) {
  grid-column: 3/6;
  grid-row: 2/6;
}

section .conteiner4 > :nth-child(4) {
  grid-column: 6/10;
  grid-row: 3/6;
}

section .conteiner5 {
  max-width: 85%;
  width: 100vw;
  padding: 10rem 0;
  margin: auto;
}

section .conteiner5 h2 {
  font-family: var(--font-family-title);
  font-size: 3rem;
  color: var(--color-second);
  text-align: center;
}

section .conteiner5 > :nth-child(2) {
  max-width: 80%;
  width: 100%;
  margin: 3rem auto;
  text-align: center;
}

.box__grid {
  display: grid;
  gap: 3rem 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.box__grid div {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box__grid div img {
  width: 10rem;
}

.box__grid div p {
  text-align: center;
}

footer .conteiner {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: var(--color-second);
}

footer .conteiner > :nth-child(2) {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

footer .conteiner > :nth-child(2) div {
  border: 1px solid black;
  border-radius: 3rem;
  flex: 0 1 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .conteiner > :nth-child(2) div:hover {
  background-color: white;
}

footer .conteiner > :nth-child(2) div img {
  width: 100%;
}

footer .conteiner > :nth-child(3) {
  color: white;
}
/* =================== 
MEDIA QUERIES
======================*/

@media screen and (max-width: 470px) {
  section .conteiner3 article {
    flex-direction: column;
    gap: 3rem;
  }

  section .conteiner3 .section3__item {
    align-items: center;
    justify-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  section .conteiner2 .section2__item > :nth-child(1n):nth-child(-n + 3) {
    border-right: none;
  }
}

@media screen and (max-width: 680px) {
  section .conteiner4 {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  section .conteiner4 > :nth-child(1n) {
    grid-column: auto;
    grid-row: auto;
  }
}

@media screen and (max-width: 750px) {
  section .conteiner2 .section2__item > :nth-child(n + 2):nth-child(-n + 2) {
    border-right: none;
  }
}

/* ==============
MENU MOBILE
================= */
@media screen and (max-width: 905px) {
  header .conteiner nav,
  header .conteiner .contact {
    display: none;
  }

  .box__grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .menu__toggle {
    width: 40px;
    height: 30px;
  }

  .menu__toggle > :nth-child(1) {
    background-color: var(--color-first);
    padding: 2px;
    margin: 5px;
    transition-duration: 0.5s;
  }

  .menu__toggle > :nth-child(2) {
    background-color: var(--color-first);
    padding: 2px;
    margin: 5px;
    transition-duration: 0.5s;
  }

  .menu__toggle > :nth-child(3) {
    background-color: var(--color-first);
    padding: 2px;
    margin: 5px;
    transition-duration: 0.5s;
  }

  .menu__mobile.on > .menu__toggle > :nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu__mobile.on > .menu__toggle > :nth-child(2) {
    opacity: 0;
  }

  .menu__mobile.on > .menu__toggle > :nth-child(3) {
    transform: rotate(-45deg) translate(5px, -7px);
  }

  .menu__mobile.on > .menu__toggle {
    position: absolute;
    right: 0;
    margin: 40px 30px 0 0;
  }

  .menu__mobile.on {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #021558;
    width: 100vw;
    height: 100vh;
  }

  .menu__mobile.on nav {
    display: block;
    margin-top: 20vh;
  }

  .menu__mobile.on .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header > .conteiner .menu a {
    color: white;
    font-size: 3rem;
  }
}

@media screen and (max-width: 1090px) {
  html {
    font-size: 50%;
  }
}
